<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <h1 id="titulo">Transações Realizadas</h1>
      <button routerLink="/add" type="button" class="btn btn-primary">Nova Transação</button>
    </div>
    <table class="table table-danger table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Cliente</th>
          <th scope="col">Valor (R$)</th>
          <th scope="col">Conta Cliente</th>
          <th scope="col">Data</th>
          <th scope="col">Editar</th>
          <th scope="col">Excluir</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor = "let item of ListarTransacoes">
          <td>{{item.id_transferencia}}</td>
          <td>{{item.nomeCliente}}</td>
          <td>{{item.valor}}</td>
          <td>{{item.contaCliente}}</td>
          <td>{{item.data}}</td>
          <td>
            <button (click)="editar(item.id_transferencia)" type="button" class="btn btn-warning">Editar</button>
          </td>
          <td>
            <button (click)="excluir(item.id_transferencia)"type="button" class="btn btn-outline-danger">Excluir</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div> <!-- row -->
</div> <!-- container -->
